.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

data/tmp/*

.venv
src/python/config/local.py

synergy_dump.sh

*.pxm

application/config/development
application/config/production
