#network-menu {
	float: left;
	background-color: #27B149;
	width: 200px;
	padding: 0 10px 10px 10px;
	margin-right: 20px;
	margin-left: -20px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid black;
	border-left: none;
}

	#network-menu button {
		display: block;
		margin: 0 auto;
		width: 70%;
	}

#network-container {
	position: relative;
	border: 1px solid black;
	height: 600px;
	margin-left: 220px;
}

#network-stats {
	position: absolute;
	right: 5px;
	top: 3px;
	background-color: rgba(200,200,200,0.75);
	padding: 3px 5px;
	border-radius: 3px;
}