#network-menu {
	float: left;
	background-color: #27B149;
	width: 200px;
	padding: 0 10px 10px 10px;
	margin-right: 20px;
	margin-left: -20px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid black;
	border-left: none;
}

	#network-menu button {
		display: block;
		margin: 0 auto;
		width: 70%;
	}

#network-container {
	border: 1px solid black;
	height: 600px;
	margin-left: 220px;
}
