#network-menu {
	float: left;
	background-color: #27B149;
	width: 200px;
	padding: 0 10px 10px 10px;
	margin-right: 20px;
	margin-left: -20px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border: 1px solid black;
	border-left: none;
}

	#network-menu button {
		display: block;
		margin: 0 auto;
		width: 80%;
	}

#network-container {
	position: relative;
	border: 1px solid black;
	height: 600px;
	margin-left: 220px;
	overflow: hidden;
}

#network-stats {
	position: absolute;
	right: 5px;
	top: 3px;
	background-color: rgba(200,200,200,0.75);
	padding: 3px 5px;
	border-radius: 3px;
}

#network-search {
	float: right;
	margin-bottom: 5px;
}

#network-loading {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 0.6;
	z-index: 10000;
}

#load-message {
	position: absolute;
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-size: 2em;
	top: 200px;
	text-align: center;
	width: 100%;
	color: #FFF;
	z-index: 10001;
}

#load-gif {
	display: inline-block;
    background-image: url('img/loading_dark_big.gif');
    background-size: 33px;
    margin-bottom: -5px;
    margin-right: 5px;
    height: 33px;
    width: 33px;
}
