/* Sticky footer */
html, body {
	height: 100%;
	background-color: #EEE;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -41px !important;
}
.page-footer, .push {
	height: 40px;
	clear: both;
}
/* End sticky footer */

/* Page width */
.wrapper, .page-footer {
	background-color: #FFF;
	max-width: 1280px;
	min-width: 550px;
	margin: 0 auto;
}

/* Header and footer */
.page-footer {
	border: 1px solid #000;
	border-bottom: none;
}

	.page-footer p {
		display: inline-block;
		margin: 10px 0 0 0;
		font-size: 0.9em;
	}

.page-header {
	padding: 15px;
	padding-top: 10px;
	margin-bottom: 20px;
	position: relative;
	border: 1px solid #000;
	border-top: none;
}

	.page-header h1 {
		margin: 5px 0 25px 0;
	}

.page-header, .page-footer {
	background-color: #19BD58;
	font-family: 'Raleway', sans-serif;
}

main {
	padding: 0 20px;
	margin-bottom: 40px;
}
/* End header and footer */

/* Headings */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}

/* Navigation */
nav {
	position: absolute;
	bottom: -1px;
	left: -10px;
}
	nav ul {
		list-style-type: none;
		margin: 0 !important;
		padding-left: 20px;
	}
	nav li {
		display: inline-block;
		margin: 0;
		padding: 0;
		margin-right: 4px;
	}
	nav a {
		display: block;
		border: 1px solid #000;
		border-radius: 5px 5px 0 0;
		text-decoration: none;
		padding: 5px;
		background-color: #139327;
		font-size: 12pt;
		color: #000;
	}
	nav a:hover { background-color: #FFF; }
	nav a.active {
		background-color: #FFF;
		border-bottom: 1px solid #FFF;
	}
/* End navigation */

/* Alignment */
.align-center { text-align: center; }
.float-right { float: right; }
/* End alignment */

/* Text styles */
.small { font-size: 0.8em; }
.bold { font-weight: bold; }
.italic { font-style: italic; }
/* End text styles */

.box {
    font-family: 'Raleway', sans-serif;
    background-color: #eee;
    color: #444;
    box-shadow: 2px 2px 8px 0px #555;
    padding: 10px; margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.narrow {
	width: 200px;
}