/* Sticky footer */
html, body { height: 100%; }
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -40px;
}
body > footer, .push {
	height: 40px;
	clear: both;
}
/* End sticky footer */

/* Page width */
.wrapper, .page-footer {
	background-color: #FFF;
	max-width: 1280px;
	min-width: 550px;
	margin: 0 auto;
}

/* Header and footer */
.page-footer {
	border: 1px solid #000;
	border-bottom: none;
}
.page-header {
	padding: 15px;
	margin-bottom: 20px;
	position: relative;
	border: 1px solid #000;
	border-top: none;
}

.page-footer p {
	display: inline-block;
	margin: 10px 0 0 0;
	font-size: 0.9em;
}

.page-header, .page-footer {
	background-color: #0AB53C;
}

main {
	padding: 0 20px;
	margin-bottom: 40px;
}
/* End header and footer */

/* Navigation */
nav {
	position: absolute;
	bottom: -1px;
	left: -10px;
}
	nav ul {
		list-style-type: none;
		margin: 0 !important;
	}
	nav li {
		display: inline-block;
		margin: 0;
	}
	nav a {
		display: block;
		border: 1px solid #000;
		border-radius: 5px 5px 0 0;
		text-decoration: none;
		padding: 5px;
		background-color: #148F29;
		font-size: 12pt;
		color: #000;
	}
	nav a:hover { background-color: #FFF; }
	nav a.active {
		background-color: #FFF;
		border-bottom: 1px solid #FFF;
	}
/* End navigation */

/* Alignment */
.align-center { text-align: center; }
/* End alignment */