/* Sticky footer */
html, body {
	height: 100%;
	background-color: #EEE;
	font-size: 1em;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -41px !important;
}
.page-footer, .push {
	height: 40px;
	clear: both;
}
/* End sticky footer */

/* Page width */
.wrapper, .page-footer {
	background-color: #FFF;
	max-width: 1280px;
	min-width: 550px;
	margin: 0 auto;
}

/* Header and footer */
.page-footer {
	border: 1px solid #000;
	border-bottom: none;
}

	.page-footer p {
		display: inline-block;
		margin: 10px 0 0 0;
		font-size: 0.9em;
	}

.page-header {
	padding: 15px;
	padding-top: 10px;
	margin-bottom: 20px;
	position: relative;
	border: 1px solid #000;
	border-top: none;
}

	.page-header h1 {
		margin: 5px 0 25px 0;
	}

.page-header, .page-footer {
	background-color: #19BD58;
	font-family: 'Raleway', sans-serif;
}

main {
	padding: 0 20px;
	margin-bottom: 40px;
}
/* End header and footer */

/* Anchors */
a {
	color: #005B0C;
	text-decoration: none;
}
a:hover { text-decoration: underline; }

/* Images */
figure {
	max-width: 50%;
}
	figure img {
		width: 100%;
	}

	figure figcaption {
		font-size: 0.8em;
	}

.center-caption {
	text-align: center;
}

figure.right {
	float: right;
	width: 50%;
	margin-left: 20px;
}

figure.wide {
	max-width: 100%;
}

figure.narrow {
	max-width: 10em;
	float: left;
}

/* lists */
nav ul { list-style-type: disc; }
ul ul, ol ul {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: -1em;
	list-style-type: circle;
}
ol ul { list-style-type: disc; }

/* Headings */
h1, h2, h3, h4, h5, h6 { font-family: 'Raleway', sans-serif; }
header h1 { text-shadow: 0px 1px 1px rgba(255,255,255,0.8); }

.headroom {
	margin-top: 10px;
	margin-bottom: 10px;
}

i { font-style: italic; }

kbd {
	background-color: #EEE;
	border: 1px solid #AAA;
	font-family: helvetica, arial, sans-serif;
	border-bottom: 2px solid #AAA;
	padding: 0.1em 0.5em 0 0.5em;
	font-size: 0.7em;
	border-radius: 3px;
}

/* Navigation */
header nav {
	position: absolute;
	bottom: -1px;
	left: -10px;
}
	header nav ul {
		min-width: 800px;
		list-style-type: none;
		margin: 0 !important;
		padding-left: 20px;
	}
	header nav li {
		display: inline-block;
		margin: 0;
		padding: 0;
		margin-right: 4px;
	}
	header nav a {
		display: block;
		border: 1px solid #000;
		border-radius: 5px 5px 0 0;
		text-decoration: none;
		padding: 5px;
		/*padding: .5em 1em;*/
		background-color: #139327;
		font-size: 12pt;
		color: #000;
		transition: font 0.3s ease;
	}
	header nav a:hover {
		background-color: #FFF;
		text-decoration: none;
	}
	header nav a.active {
		background-color: #FFF;
		border-bottom: 1px solid #FFF;
	}

@media screen and (max-width: 650px) {
	header nav a {
		font-size: 10pt;
	}
}
/* End navigation */

/* Alignment */
.align-center { text-align: center; }
.align-right { text-align: right; }
.float-right { float: right; }
.clear-fix { clear: both; }
.clear-right { clear: right; }
.clear-left { clear: left; }
.auto-width { display: inline-block; }
.narrow { width: 200px; }
.block-center { display: table; margin: 0 auto; }
/* End alignment */

/* Text styles */
.small { font-size: 0.8em; }
.bold { font-weight: bold; }
.italic { font-style: italic; }
.monospace { font-family: monospace; }
/* End text styles */

.hidden { display: none !important; }

/* Loading animation */
.loading {
	display: inline-block;
    background-image: url('img/loading_light.gif');
    background-size: 15px;
    margin-bottom: -2px;
    margin-right: 5px;
    height: 15px;
    width: 15px;
}

.error-message {
	display: table;
	max-width: 70%;
	background-color: #AF0110;
	color: #FFF;
	padding: 7px 10px 5px 10px;
	margin: 0 auto 0 auto;
	border: 1px solid #4E0107;
}

.box {
    font-family: 'Raleway', sans-serif;
    background-color: #eee;
    color: #444;
    box-shadow: 2px 2px 8px 0px #555;
    padding: 10px; margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

section {
	margin: 15px 0;
}

td, th { padding-right: 10px; }

/* Flot */
.flot {
	height: 300px;
}

.flot.with-legend {
	margin-right: 220px;
}

.flot-overview {
	height: 150px;
	width: 300px;
}

.flot-overview { margin-left: 2em; }
.flot-buttons { margin-left: 4em; }

.flot-legend {
	float: right;
	width: 200px;
	margin-top: 1em;
}

#old-browser-warn {
	display: none;
}

/* Loading indicator */
.load-message {
	display: inline-block;
	margin: 0 10px;
}

/* No JS warning and feature detection */
#noscript-warn,
		.no-canvas #old-browser-warn {
	display: block;
	color: #FFF;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #BA0008;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    padding: 4px 0;
    margin: 0;
    z-index: 10000;
}

#noscript-warn a, #old-browser-warn a {
	color: #23AEB6;
}

.no-js #noscript-padding,
		.no-canvas #old-browser-padding {
	display: block;
    padding-top: 20px;
}

/* Cookies */
.cookie {
	display: table;
	background-color: #A8FFB2;
	color: #000;
	padding: 4px 30px 2px 30px;
	margin: 0 auto 0 auto;
	border: 1px solid #00710C;
	border-radius: 5px;
	text-align: center;
}

/* Forms */
form { font-size: .9em; font-family: inherit; }
form fieldset.clean {
	border: none;
	padding: 0;
}
form fieldset {
	display: block;
	width: auto;
	margin-bottom: 1em;
}

form label {
	display: inline-block;
	line-height: 1.5em;
	vertical-align: top;
}

form fieldset ol {
	margin: 0;
	padding: 0;
}

form fieldset li {
	list-style: none;
	padding: 5px;
	margin: 0;
}
form fieldset.clean li {
	padding: 0 0 3px;
}
form fieldset fieldset {
	border: none;
	margin: 3px 0 0;
}
form fieldset fieldset legend {
	padding: 0 0 5px;
	font-weight: normal;
}
form fieldset fieldset label {
	display: block;
	width: auto;
}
form em {
	font-weight: bold;
	font-style: normal;
	color: #f00;
}
form label {
	width: 170px; /* Width of labels */
}
form.narrow {
	width: inherit;
}
form.narrow label {
	width: 120px;
}
form fieldset fieldset label {
	margin-left: 173px; /* Width plus 3 (html space) */
}
